extends layout

block content
  .titleLogo
    a(href='/')
        img(src="public/images/LOGO/webank_logo_1.png" width='75' height='75' style='margin-right:540px;')
    input(type='search')
    img(src="../LOGO/weLogo.png" width='30' height='30')
  
  
  div(style='margin-bottom: 30px; margin-top: 30px;')
    img(src="public/images/naver/n_나혼자_만렙_뉴비.jpg" width='400' height='250')
    img(src="public/images/naver/n_나혼자_만렙_뉴비.jpg" width='400' height='250')
      
  .timage
    h3='장르별 TOP 10'
    div
      input(type='button' value='로맨스')
      input(type='button' value='판타지')
      input(type='button' value='힐 링')
      input(type='button' value='무 협')
    img(src="public/images/naver/n_전지적_독자시점.png" width='85' height='85')
    img(src="public/images/naver/n_나혼자_만렙_뉴비.jpg" width='85' height='85')
    img(src="public/images/naver/n_닥터프로스트.png" width='85' height='85')
    img(src="public/images/kakao/k_칼집의_아이.png" width='85' height='85')
    img(src="public/images/naver/n_외모지상주의.png" width='85' height='85')
    img(src="public/images/kakao/k_백작가의_망나니가_되었다.png" width='85' height='85')
    img(src="public/images/kakao/k_정령왕의_딸.png" width='85' height='85')
    img(src="public/images/kakao/k_악녀의_남주님.png" width='85' height='85')

  .timage
    h3='연재 TOP 10'
    div
      input(type='button' value='네이버웹툰')
      input(type='button' value='카카오웹툰')
      input(type='button' value='레진코믹스')
      input(type='button' value='카카오페이지')
    img(src="public/images/naver/n_전지적_독자시점.png" width='85' height='85')
    img(src="public/images/naver/n_노답소녀.png" width='85' height='85')
    img(src="public/images/naver/n_백수세끼.png" width='85' height='85')
    img(src="public/images/naver/n_연애혁명.png" width='85' height='85')
    img(src="public/images/naver/n_미친_후작을_길들이고_말았다.png" width='85' height='85')
    img(src="public/images/naver/n_오로지오로라.png" width='85' height='85')
    img(src="public/images/naver/n_살아남은_로맨스.png" width='85' height='85')
    img(src="public/images/naver/n_아는여자애.png" width='85' height='85')
      
  .keywordSearch
    h3='키워드 검색'
    div
      input(type='button' value='추리')
      input(type='button' value='초능력')
      input(type='button' value='타임슬립')
      input(type='button' value='스포츠')
      input(type='button' value='로맨스')
      input(type='button' value='판타지')
      input(type='button' value='힐링')
      input(type='button' value='무협')
        
      input(type='button' value='학원물')
      input(type='button' value='옴니버스')
      input(type='button' value='먼치킨')
      input(type='button' value='일상')
      input(type='button' value='개그')
      input(type='button' value='감성')
      input(type='button' value='스릴러')
      input(type='button' value='액션')
        
      input(type='button' value='완결')
      input(type='button' value='드라마')
      input(type='button' value='좀비')
      input(type='button' value='이세계')
      input(type='button' value='전쟁')
      input(type='button' value='아포칼립스')
      input(type='button' value='희망')
      input(type='button' value='성장')

  .newWebtoon
    h3='이달의 신작'
    div
      img(src="public/images/kakao/k_8클래스_마법사의_회귀.png" width='120' height='150' style='margin-right: 12px;')
      img(src="public/images/naver/n_감자마을.png" width='120' height='150' style='margin-right: 12px;')
      img(src="public/images/naver/n_니나의_마법서랍.png" width='120' height='150' style='margin-right: 12px;')
      img(src="public/images/kakao/k_악녀의_남주님.png" width='120' height='150' style='margin-right: 12px;')
