extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    |WeBank is a site where webtoon information is gathered.
  p
    |WeBank will continue to recommend webtoons that you like.
  p
    a(href='/test') test url
