extends layout

block content
  .titleLogo
    a(href='/')
        img(src="../LOGO/weLogo.png" width='75' height='75')
    input(type='search')
    img(src="../LOGO/weLogo.png" width='30' height='30')
  
  
  div(style='margin-bottom: 30px; margin-top: 30px;')
    img(src="../LOGO/weLogo.png" width='800' height='250')
      
  .timage
    h3='장르별 TOP 10'
    div
      input(type='button' value='로맨스')
      input(type='button' value='판타지')
      input(type='button' value='힐 링')
      input(type='button' value='무 협')
    img(src="../LOGO/weLogo.png" width='75' height='75')
    img(src="../LOGO/weLogo.png" width='75' height='75')
    img(src="../LOGO/weLogo.png" width='75' height='75')
    img(src="../LOGO/weLogo.png" width='75' height='75')
      

  .timage
    h3='연재 TOP 10'
    div
      input(type='button' value='로맨스')
      input(type='button' value='판타지')
      input(type='button' value='힐 링')
      input(type='button' value='무 협')
    img(src="../LOGO/weLogo.png" width='75' height='75')
    img(src="../LOGO/weLogo.png" width='75' height='75')
    img(src="../LOGO/weLogo.png" width='75' height='75')
    img(src="../LOGO/weLogo.png" width='75' height='75')
      
  .keywordSearch
    h3='키워드 검색'
    div
      input(type='button' value='추리')
      input(type='button' value='초능력')
      input(type='button' value='타임슬립')
      input(type='button' value='스포츠')
      input(type='button' value='로맨스')
      input(type='button' value='판타지')
      input(type='button' value='힐링')
      input(type='button' value='무협')
        
      input(type='button' value='학원물')
      input(type='button' value='옴니버스')
      input(type='button' value='먼치킨')
      input(type='button' value='일상')
      input(type='button' value='개그')
      input(type='button' value='감성')
      input(type='button' value='스릴러')
      input(type='button' value='액션')
        
      input(type='button' value='완결')
      input(type='button' value='드라마')
      input(type='button' value='좀비')
      input(type='button' value='이세계')
      input(type='button' value='전쟁')
      input(type='button' value='아포칼립스')
      input(type='button' value='희망')
      input(type='button' value='성장')

  .newWebtoon
    h3='이달의 신작'
    div
      img(src="../LOGO/weLogo.png" width='120' height='150' style='margin-right: 12px;')
      img(src="../LOGO/weLogo.png" width='120' height='150' style='margin-right: 12px;')
      img(src="../LOGO/weLogo.png" width='120' height='150' style='margin-right: 12px;')
      img(src="../LOGO/weLogo.png" width='120' height='150' style='margin-right: 12px;')
