extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    |WeBank is a site where webtoon information is gathered.
  p
    |WeBank will continue to recommend webtoons that you like.
  p
    a(href='/test') test url
  div
    src="n_노답소녀.png"
  table(border='1')
    tbody
      tr
        td 로맨스 
        td 판타지
        td 힐링
        td 무협
      tr
        td img="..(Web_toon_Thumbanil='' K_양말도깨비.png='')
        td src="n_노답소녀.png"
        td image3
        td image4
      
