extends layout

block content
  h1
    a(href='/') WeBank
  div
      div 이미지 삽입
      div
        h2 툰 제목 | 작가 | 알림종 이미지
        div
          h2 평점 (평점 남긴 수)
          span ★
          |  평점
        div
          h2 키워드
          |         키워드 줄줄이
        div
          h2 줄걸리
          |         이 곳에 줄거리를 적어주세요.
        div
          h2 연재처
          |         네이버 카카오페이지

  h3 Welcome #{title} Page
  p test page description is ...
